/* Reset básico para remover margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilo geral da página */
body {
    background-color: #795757;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

/* Cabeçalho grande */
header {
    background-color: #e62429; /* Vermelho da Marvel */
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Campo de busca */
#searchInput {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background-color: #1e1e1e;
    color: rgb(250, 53, 53);
}

/* Botão de busca */
button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 1rem;
    border: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: darkred;
}

/* Área dos personagens */
#characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

/* Estilo de cada card de personagem */
.character-card {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.3);
}

.character-card:hover {
    transform: scale(1.05);
}

/* Imagem do personagem */
.character-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Nome do personagem */
.character-card h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

/* Descrição do personagem */
.character-card p {
    font-size: 0.9rem;
    color: #b3b3b3;
}